name: Azure Web App Deploy

on:
  push:
    paths:
      - backend/**
      - .github/workflows/backend.yml
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: openai90393d6b
  AZURE_REPOSITORY_NAME: openaieace2ee5

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      # source checkout
      - name: Checkout
        uses: actions/checkout@v3

      # Setup Node.js
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: az login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Image build, tag, and push
        run: |
          az acr login --name $AZURE_REPOSITORY_NAME
          docker build . -t $AZURE_REPOSITORY_NAME.azurecr.io/openai:${{ github.sha }}
          docker push $AZURE_REPOSITORY_NAME.azurecr.io/openai:${{ github.sha }}

      - uses: azure/webapps-deploy@v2
        with:
          app-name: app-eace2ee5
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: 'openaieace2ee5.azurecr.io/openai:${{ github.sha }}'
