name: Terraform Apply

on:
  push:
    paths:
      - terraform/**
      - .github/workflows/terraform.yml
    branches-ignore:
      - releases/**
      - master
  workflow_dispatch:

jobs:
  Apply:
    runs-on: ubuntu-latest
    env:
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    defaults:
      run:
        working-directory: terraform

    steps:
      # source checkout
      - name: Checkout
        uses: actions/checkout@v3
      
      # Install the latest version of Terraform CLI 
      # and configure the Terraform CLI configuration file with a Terraform Cloud user API token
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.9
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      # Terraform execution
      - name: Apply Terraform 
        run: |
          terraform init
          terraform plan -out=plan -compact-warnings
          terraform apply "plan"
